/*---------Bismillahir Rahamanir Rahim---------*/

*{
    margin: 0;
    padding: 0;
}

body,p,span,a{
    font-family: 'Roboto', sans-serif;
}

/* -------header section-----*/

.header{
    width: 100%;
    height: 115px;
    background: black !important;
    /*position: fixed;*/
    z-index: 99;
    border-bottom: 1px solid #918c84;
}
.logo_img{
    width: 172px;
    height: 84px;
    margin-left: 20px;
}
.logo_img img{
    width: 100%;
}
.header-middle{
    margin-top: 17px;
}
.header-middle ul{}
.header-middle ul li{
    padding: 53px 25px;
    font-family: 'Jost', sans-serif;
}
.header-middle ul li .dropdown_item{
    margin-top: -9px;
    transform:scaley(0);
    transform-origin: top center;
    transition: 0.4s;
    background: #fff;
    border-radius: inherit;
}
.header-middle ul li:hover .dropdown_item{
    transform:scaley(1) !important;
    visibility: visible !important;
    opacity: 1 !important;
}
.header-middle ul li span{}
.header_a{
    color: white !important;
}
.header-middle ul li a{
    
    font-weight: 700;
    font-size: 12px;
}
.header-middle ul li a:hover{
    color: red !important;
}
.dropdown_item{
    background: black;
}
.dropdown_item a{
    padding: 15px;
    margin: 25px 7px 24px 0px;
    transition: 0.4s;
    color: black;
}
.dropdown_item a:hover{
    transform: scaleY(1.1);

}
.triangle_up{
    position: absolute;
    top: -39px;
    left: 16px;
}
.triangle_up span{
    font-size: 45px;
    color: white;
}

.header_right{}
.header_right a{
    font-size: 20px;
    color: white;
    margin-right: 19px;
    transition: 0.4s;
}
.header_right a:hover{
    color: red;
}

.header_right a span:hover .form_box{
    visibility: visible;
    transform:scaley(1);
}
.header_right:hover .form_box{
    visibility: visible;
    transform:scaley(1);
}

.form_box{
    position: absolute;
    right: 0px;
    bottom: -58px;
    visibility: hidden;
    transform:scaley(0);
    transform-origin: top center;
    transition: 0.4s;
}

.form_box input{
    padding: 27px 20px;
    height: 50px;
    border: 1px solid black;
}
.form_box button{
    position: absolute;
    right: 12px;
    font-size: 20px;
    border: none;
}
.form_box button a{
    color: darkgrey;
    background: white;
    font-size: 20px;
    margin-right: 0px !important;
}




/*--------Banner Section------*/

.banner{
    background: black;
    height: 400px;
}

.banner_left{
    text-align: center;
    margin-top: 130px;
    transition: 0.4s;
}
.banner_left:hover span{
    color: #fff;
}
.banner_left h1{
    color: #fff;
    font-family: "Verdana", Times, serif;
    font-weight: bold;
    font-size: 40px;
}
.banner_left p{
    color: #fff;
    font-family: "Verdana", Times, serif;
    font-size: 15px;
}
.banner_left p span{
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    color: red;
}

/* --Back To Top Icon Section-- */

.back_to_top{
    position: fixed;
    right: 20px;
    bottom: 30px;
    width: 40px;
    height: 40px;
    background: red;
    z-index: 99;
    transition: 0.4s;
}
.back_to_top:hover{
    background: black;
}
.back_to_top:hover span{
    color: red;
}
.back_to_top span{
    color: white;
    padding: 0px 11px;
    font-size: 19px;
    position: absolute;
    top: 7px;
}

/*---- President-----*/

.President{
    border-top: 1px solid #f3f0f0;
}
.president_row{
    text-align: center;
    width: 25%;
    margin-top: 70px;
    box-shadow: 0px 0px 60px 0px #e9e9e9;
    border-radius: 10px;
}
.president_inner{
    padding: 25px 19px;
}
.president_inner_inner{
    position: relative;
}
.president_inner_inner::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background: blue;
    width: 225px;
    height: 273px;
    opacity: 0;
    transition: 0.4s;
}
.president_inner:hover .president_inner_inner::before{
    opacity: 0;
}
.president_inner_inner img{
    width: 100%;
}
.president_inner_inner ul{
    list-style: none;
    margin-top: -40px;
}
.president_inner_inner:hover li{
    opacity: 1;
    transform: translateY(0);
}
.president_inner_inner ul li{
    opacity: 0;
    transform: translateY(+45px);
    transition: 0.9s;
    padding: 0px 20px;
}

.president_inner_inner ul li:nth-child(1){
    transition-delay: .2s;
}
.president_inner_inner ul li:nth-child(2){
    transition-delay: .4s;
}
.president_inner_inner ul li:nth-child(3){
    transition-delay: .6s;
}
.president_inner_inner ul li:nth-child(4){
    transition-delay: .8s;
}
.president_inner_inner ul li a{}
.president_inner_inner ul li a span{
    display: block;
    height: 40px;
    width: 40px;
    background: white;
    color: black;
    border-radius: 50%;
    margin-top: -45px;
    margin-left: -36px;
    padding: 7px 12px;
    font-size: 18px;
    transition: 0.4s;
}
.president_inner_inner ul li a span:hover{
    background-color: red;
    color: white;
}

.president_inner_bottom{
    text-align: center;
    margin-top: 40px;
   
}
.president_inner_bottom h1{
    opacity: 0;
    margin-top: -53px;
}
.president_inner_bottom p{
    font-size: 14px;
    margin-top: 8px;
    font-weight: 500;
    padding-bottom: 0px;
    letter-spacing: 3px;
}
.president_inner_bottom h6{

    letter-spacing: 2px;
    color: brown;
    margin-top: -5px;
    font-family: "Bahnschrift", Times, serif;
    margin-bottom: -10px;
}
.president_inner_bottom strong{
    font-size: 20px;
    color: red;
    font-weight: 700;
}




/*---Committee Section------*/

.Committee_top{
    text-align: center;
    margin-top: 70px;
    margin-bottom: 50px;
}
.Committee_top span{
    color: red;
    font-weight: 700;
    letter-spacing: 5px;
    text-transform: uppercase;
}
.Committee_top h2{
    font-size: 40px;
    font-weight: 700;
    margin-top: 10px;
    font-family: "Impact", Times, serif;
    letter-spacing: 5px;
    margin-bottom: 20px;
}
.Committee_top p{
   color: red;
   font-size: 17px;
}

.committee{
    padding-top: 61px;
    background-color: white!important;
}
.committee_upper{
    padding: 40px;
    margin-bottom: 50px;
}
.committee_inner{
    
}
.committee_inner img{
    width: 100%;
}
.committee_inner ul{
    list-style: none;
    margin-top: -40px;
}
.committee_inner:hover li{
    opacity: 1;
    transform: translateY(0);
}
.committee_inner ul li{
    opacity: 0;
    transform: translateY(+45px);
    transition: 0.9s;
    padding: 0px 20px;
}

.committee_inner ul li:nth-child(1){
    transition-delay: .2s;
}
.committee_inner ul li:nth-child(2){
    transition-delay: .4s;
}
.committee_inner ul li:nth-child(3){
    transition-delay: .6s;
}
.committee_inner ul li:nth-child(4){
    transition-delay: .8s;
}
.committee_inner ul li a{}
.committee_inner ul li a span{
    display: block;
    height: 40px;
    width: 40px;
    background: white;
    color: black;
    border-radius: 50%;
    margin-top: -45px;
    margin-left: -36px;
    padding: 7px 12px;
    font-size: 18px;
    transition: 0.4s;
}
.committee_inner ul li a span:hover{
    background-color: red;
    color: white;
}


.committee_inner_bottom{
    text-align: center;
    margin-top: 40px;
    box-shadow: 0px 0px 60px 0px #e9e9e9;
}
.committee_inner_bottom h1{
    opacity: 0;
    margin-top: -44px;
}
.committee_inner_bottom p{
    font-size: 14px;
    margin-top: 8px;
    font-weight: 500;
    padding-bottom: 25px;
    letter-spacing: 3px;
}
.committee_inner_bottom strong{
    font-size: 20px;
    color: red;
    font-weight: 700;
}

